.form-control {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
}

.help-block {
    color: #fff;
    vertical-align: sub;
}

.sub-little-text {
    font-size: 12px;
}

.has-feedback {
    .form-control {
        padding-right: 42.5px;
    }
    label~.form-control-feedback {
        top: 23px;
        font-size: 18px;
    }
}

.form-control-feedback {
    margin-top: 10px;
}

.bootstrap-select {
    .btn-default {
        &:focus {
            color: #fff;
        }
    }
}

.has-success .form-control-feedback {
    color: #a2db59;
}

.has-warning .form-control-feedback {
    color: #ecc839;
}

.has-error .form-control-feedback {
    color: #fa758e;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group-addon-primary {
    background: #00abff;
    color: #fff;
    border-color: #00abff;
}

.input-group-addon-warning {
    background: #e7ba08;
    color: #fff;
    border-color: #e7ba08;
}

.input-group-addon-success {
    background: #8bd22f;
    color: #fff;
    border-color: #8bd22f;
}

select.form-control:not([multiple]) option {
    color: #7d7d7d;
}

label.custom-radio>span {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    font-weight: 300;
    cursor: pointer;
    padding-left: 22px;
    width: 100%;
}

.input-demo {
    line-height: 25px;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.col-md-4 {
    float: left;
    width: 33.33333%;
}

label.custom-checkbox>span {
    display: block;
    margin-right: 10px;
}

label.custom-checkbox>input {
    height: 0;
    z-index: -100 !important;
    opacity: 0;
    position: absolute;
}

label.custom-radio>input {
    height: 0;
    z-index: -100 !important;
    opacity: 0;
    position: absolute;
}

label.custom-radio>span:before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    content: "\a0";
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 6px;
    position: relative;
    top: 0;
    margin-left: -22px;
}

label.custom-radio>span:before {
    border-radius: 16px;
    font-size: 9px;
}

label.custom-radio>input:checked+span:before {
    content: "\f3ff";
    font-weight: 300;
    display: inline-block;
    font-family: "Ionicons";
    //    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: cornsilk;
}

label.custom-radio>input:disabled+span {
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    cursor: not-allowed;
}