.card {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    border-radius: 7px;
    position: relative;
    margin-bottom: 24px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    max-width: 800px;
}

.card-header,
.card-footer {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 44px;
    font-size: 16px;
    padding: 14px 22px;
    background-color: transparent;
}

.card-header:first-child {
    border-radius: .25rem .25rem 0 0;
}

.card>.card-header {
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card>.card-body {
    padding: 15px 22px;
}