<ul *ngIf="menus.length>0" class="sidebar-list">
    <li *ngFor="let menuitem of menus" class="sidebar-list-item" title="menuitem.data.menu.title">

        <div *ngIf="menuitem.data.children;then content else other_content"></div>

        <ng-template #content>
            <a class="sidebar-list-link" href="" (click)="toggleMenu($event,menuitem)" (mouseenter)="onHoverItem($event)">
                <i [class]="menuitem.data.menu.icon"></i>
                <span>{{menuitem.data.menu.title}}</span>
                <i class="ion-ios-arrow-down" [ngClass]="{'ion-ios-arrow-up': menuitem?.expanded}" aria-hidden="true"></i>
            </a>
        </ng-template>
        <ng-template #other_content>
            <a routerLink="{{'./' + menuitem.path}}" class="sidebar-list-link" href="" (click)="toggleMenu($event,menuitem)" (mouseenter)="onHoverItem($event)">
                <i [class]="menuitem.data.menu.icon"></i>
                <span>{{menuitem.data.menu.title}}</span>
            </a>
        </ng-template>


        <ul *ngIf="menuitem.data.children" class="sidebar-sublist">
            <li *ngFor="let subMenu of menuitem.data.children" [style.display]="menuitem?.expanded ? 'block': 'none' ">
                <a [routerLink]=" './' + menuitem.path+ '/'+subMenu.path " class="sidebar-list-link " (click)="toggleSubMenu($event) ">
                    <span>{{subMenu.data.menu.title}}</span>
                </a>
            </li>
        </ul>
    </li>

</ul>